main {
    display: flex;
    flex-direction: row;
}

.round {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 175px;
    list-style: none;
    padding: 0;
}

    .round .spacer {
        flex-grow: 1;
    }

        .round .spacer:first-child,
        .round .spacer:last-child {
            flex-grow: .5;
        }

    .round .game-spacer {
        flex-grow: 1;
    }

/*
   *  General Styles
  */
#tournament {
    text-align: center;
    margin-left: 100px;
    margin-top: 20px;
}

body {
    font-family: sans-serif;
    font-size: small;
    padding: 5px;
    line-height: 1.4em;
}

li.game {
    padding-left: 10px;
}

    li.game.winner {
        font-weight: bold;
    }

    li.game span {
        float: right;
        margin-right: 1px;
    }

li.game-top {
    border-bottom: 3px solid #aaa;
}

li.game-spacer {
    border-right: 3px solid #aaa;
    border-left: 0px;
    min-height: 40px;
}

li.game-bottom {
    border-top: 3px solid #aaa;
}
